#newsletter {
  text-align: left;
  .logo{
    text-align: right;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    .logo{
      text-align: center;
    }
  }
  background-color: white;
  padding: $space 0;
  a{
    :hover{
      color: $primary;
    }
    display: block;
    text-decoration: none;
    img{
      width: 150px;
    }
    h5 {
      font-weight: lighter;
    }
    .card{
      background-color: $white;
      border: none;
      small{
        font-weight: lighter;
      }
    }
  }
}