#newsletter {
  text-align: left;
  .logo{
    text-align: right;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    .logo{
      text-align: center;
    }
  }
  background-color: white;
  padding: $space 0;
  a{
    :hover{
      color: $primary;
    }
    display: block;
    text-decoration: none;

    h5 {
      color: $primary;
    }
    .card{
      padding: 1rem 0 1rem 0;
      background-color: $white;
      border: none;
      small{
        font-weight: lighter;
      }
      img{
        width: 120px;
        margin-top: 1rem;
      }
    }
  }
}