#resources-detail, #resources-summary{
  h2{

  }
  .book-item-container{
    margin-bottom: $space/2;
  }

  p.description{
    margin-bottom: $space/2;
  }
  a.book-item{
    text-decoration: none;
    text-align: center;
    display: block;
    border: none;
    .cover{
      height: 460px;
      display: table-cell;
      background: $black;
      vertical-align: middle;
      @include media-breakpoint-down(xxl) {
        height: 380px;
      }
      @include media-breakpoint-down(xl) {
        height: 460px;
      }
      @include media-breakpoint-down(lg) {
        height: auto;
      }
      .card-img-top{
        width: 100%;
        height: auto;
        max-height: 460px;
        @include media-breakpoint-down(lg) {
          max-height: none;
        }
      }
    }
  }
  h5{
    font-size: $font-size-base/1.2;
  }
  .authors{
    font-size: $font-size-base/1.4;
  }
}

#resource-detail{
  .description{
    margin-bottom: $space/2;
  }
}

