<section id="autor">
    <div class="container">
        <h4>Sobre mí</h4>
        <div class="row">

            <div class="col-6 offset-3 col-lg-2 offset-lg-2 asier-picture">
                <img src="/img/file.png" alt="" class="img-thumbnail">
            </div>
            <div class="col-12 col-lg-6">
                <p>Llevo cerca de dos décadas liderando equipos y proyectos en el mundo tecnológico, combinando la gestión de personas con la estrategia tecnológica</p>
                <p>A lo largo de mi carrera he fundado varias empresas tecnológicas y he formado parte de compañías internacionales, asumiendo distintos roles de liderazgo, gestión y dirección en áreas de ingeniería de software. Esta trayectoria me ha dado una visión amplia sobre cómo construir y hacer crecer equipos de alto rendimiento, alinear la tecnología con los objetivos de negocio y adaptar la estrategia en entornos de cambio constante.</p>
                <p>Este espacio nace con la intención de compartir aprendizajes, experiencias y herramientas útiles para gestionar equipos de forma efectiva, práctica y centrada en las personas, independientemente de si trabajan en tecnología o en otros ámbitos.</p>
            </div>
        </div>
    </div>
</section>
