<header id="presentation">
    <h1><span>Hola, </span>soy Asier Marqués</h1>
    <p>En este espacio comparto recursos sobre <strong>gestionar equipos</strong></p>
</header>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active"
           aria-current="page"
           href="#libro">El Libro</a>
    </li>
    <li class="nav-item">
        <a title="Newsletter Gestionar Equipos"
           class="nav-link"
           href="https://newsletter.gestionarequipos.com/">La Newsletter</a>
    </li>
    <li class="nav-item">
        <a title="Asier Marqués"
           class="nav-link"
           href="#autor">El Autor</a>
    </li>
</ul>