<header id="presentation">
    <a href="/" class="logo" title="{{ .Site.Title }}">
        {{ with resources.Get "img/logo.png" }}
        {{ with .Resize (printf "%dx webp q70 lanczos" .Width) }}
        <img src="{{.Permalink}}" class="img-fluid rounded-start">
        {{end}}
        {{end}}
    </a>
</header>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link"
           aria-current="page"
           href="/#libro">El Libro</a>
    </li>
    <li class="nav-item">
        <a title="Newsletter Gestionar Equipos"
           class="nav-link"
           href="https://newsletter.gestionarequipos.com/">La Newsletter</a>
    </li>
    <li class="nav-item">
        <a title="Biblioteca de recursos"
           class="nav-link {{ if eq .RelPermalink "/recursos/" }}active{{ end }}"
           href="/recursos">Recursos</a>
    </li>
    <li class="nav-item">
        <a title="Asier Marqués"
           class="nav-link"
           href="#autor">El Autor</a>
    </li>
</ul>