<header id="presentation">
    <h1>Hola, soy Asier Marqués</h1>
    <p>En este espacio comparto todo lo que he ido aprendiendo sobre <strong>gestionar equipos</strong>, en español</p>
</header>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">El Libro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">La Newsletter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#autor">El Autor</a>
    </li>
</ul>