<section id="newsletter">
    <div class="container">
        <a title="Newsletter gestionar equipos" href="https://newsletter.gestionarequipos.com/">
            <div class="card" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-4 logo">
                        {{ with resources.Get "img/logo_social.png" }}
                        {{ with .Resize (printf "%dx webp q70 lanczos" .Width) }}
                        <img src="{{.Permalink}}" class="img-fluid rounded-start">
                        {{end}}
                        {{end}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">La newsletter</h5>
                            <p class="card-text">Gestion de equipos en la práctica.<br><small>Artículos, recursos e ideas para la gestión de equipos en español</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>