<section id="resources-summary" style="background: #fff;">
    <div class="container">
        <h2>Biblioteca</h2>
        <p class="description">Últimas recomendaciones sobre <strong>gestión y liderazgo de equipos</strong>.
            <br><a href="/recursos">Ir a la biblioteca →</a>
        </p>
        <div class="row shelve">
            {{ range first 4 (sort ( where .Site.Pages "Type" "book") "Date" "desc") }}
            {{ partial "resources/book-item.html" . }}
            {{ end }}
        </div>
    </div>

</section>